body{
    display: flex;
    font-family: 'Oswald', sans-serif;
    background-color: #15161B;
    color: white;
}
.container{
    width: 100%;
    
    margin: 0 auto;
}
header{
    padding: 20px 0;
    text-align: center;
    width: 100%;
    height: 70px;
}
.logo{
    height: 70px;
    vertical-align: center;
}
.section-1{
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
.section-1-conteudo{
    width: 50%;
    vertical-align: top;
    display: inline-block;
    align-items: center;
    text-align: start;
    
}
.section-1-conteudo h3{
    font-weight: 400;
    font-size: 25px;

}
.section-1-conteudo h2{
    font-size: 60px;
    font-weight: 700;
    line-height: 113.7%;
}
.section-1 img{
    margin-left: 20px;
    display: inline;
    width: 50%;    
}
.btn-conteudo1{
    margin-top: 50px;
    padding: 15px 65px;
    font-size: 20px;
    font-weight: 700;
    background-color: #1A7993;
    border: 2px solid #1A7993;
    border-radius: 5px;
    transition: 300ms all;
    color: white;
}
.btn-conteudo1:hover{
    background-color: #1A799300;
    cursor: pointer;
}
.section-2 h2{
    width: 80%;
    margin: 80px auto;
    font-size: 45px;
    font-weight: 700;
    line-height: 113.7%;
}

.section-2{
    margin: 200px 0;
    align-items: center;
    text-align: center;
    
}

.card-section-2{
    background-color: #2C2F37;
    display: inline-block;
    margin: 0 30px;
    padding: 50px 60px;
    transition: 400ms all;
}
.card-section-2:hover{
    background-color: #1A7993;

}
.card-section-2 h3{
    font-size: 18px;
    width: 100px;
}
.card-section-2 img{
    margin-bottom: 30px;
}
.container-section-3{
    width: 100%;
    background-color: #1A7993;
}
.section-3{
    width: 80%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    text-align: center;
}
.section-3-conteudo{
    align-self:center;
    width: 50%;
    display: inline-block; 
    align-items: center;
    text-align: left;
    margin-left: auto;
}
.section-3-conteudo h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 157%;
}
.section-3-conteudo h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 113.7%;
}
.section-3 img{
    display: inline;
    width: 30%;
    margin-left: auto;    
}
.btn-conteudo3{
    margin-top: 40px;
    padding: 15px 65px;
    font-size: 20px;
    font-weight: 700;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    transition: 300ms all;
    color: black;
}
.btn-conteudo3:hover{
    background-color: #1A799300;
    cursor: pointer;
    color: white;
}

.section-4{
    width: 80%;
    margin: 100px auto;
    align-items: center;
    text-align: center;
}
.section-4 h2{
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 700;
    line-height: 113.7%;
}

.input-form{
    padding: 15px 30px;
    margin: 15px auto;
    width: 30%;
    display: block;
}
.btn-form{
    padding: 15px 30px;
    width: 35%;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: #1A7993;
    border: 2px solid #1A7993;
    border-radius: 5px;
    transition: 300ms all;
    color: white;
}
.btn-form:hover{
    background-color: #1A799300;
    cursor: pointer;
}
footer{
    text-align: center;
    width: 80%;
    margin: 100px auto;
}
footer p{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 113.7%;
}
.icones-footer{
    width: 48px;
    margin: 0 10px;
}

@media screen and (max-width:480px){
    .section-1 img{
        display: block;
        width: 100%; 
        margin: 20px auto;   
    }
    .section-1-conteudo{
        width: 100%;
        align-items: center;
        text-align: start;
        
    }
    .section-1-conteudo h2{
        margin-top: 20px;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }
    .section-1-conteudo h3{
        text-align: center;
    }
    .section-2{
        width: 100%;
        margin: 50px 0;
        align-items: center;
        text-align: center;
    
    }
    .section-2 h2{
        width: 100%;
        margin: 80px auto;
        font-size: 35px;
        font-weight: 700;
    }
    .card-section-2{
        margin: 20px 0;
    }
    .section-3{
        padding: 20px 0;
        width: 100%;
        margin: 50px 0;
        align-items: center;
        text-align: center;
    }
    .section-3-conteudo{
        width: 80%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        
    }
    .section-3-conteudo h3{
        font-weight: 400;
        font-size: 20px;
    }
    .section-3-conteudo h2{
        width: 100%;
        margin: 30px auto;
        font-size: 35px;
        font-weight: 700;
    }
    .section-3 img{
        display: none;
        width: 100%;
    }
    .section-4 h2{
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 700;
        line-height: 113.7%;
    }
    
    .input-form{
        width: 80%;
    }
    .btn-form{
        width: 90%;
    }
}
@media screen and (max-width: 768px){
    .section-1 img{
        display: block;
        width: 100%; 
        margin: 20px auto;   
    }
    .section-1-conteudo{
        width: 100%;
        align-items: center;
        text-align: center;
        margin: 20px 0;
    }
    .section-1-conteudo h2{
        margin-top: 20px;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
    }
    .section-1-conteudo h3{
        text-align: center;
    }
    .card-section-2{
        margin: 20px;
    }
    .section-3{
        padding: 40px 0;
        width: 100%;
        margin: 50px 0;
        align-items: center;
        text-align: center;
    }
    .section-3-conteudo{
        width: 90%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        
    }
    .section-3-conteudo h3{
        font-weight: 400;
        font-size: 20px;
    }
    .section-3-conteudo h2{
        width: 100%;
        margin: 30px auto;
        font-size: 35px;
        font-weight: 700;
    }
    .section-3 img{
        display: none;
        width: 100%;
    }
    .input-form{
        width: 60%;
        padding: 20px 25px;
    }
    .btn-form{
        width: 70%;
    }
}

@media (min-width: 769px) and (max-width: 1200px){
    .section-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-1 img{
        vertical-align: middle;
    }
    .section-2{
        width: 60%;
        margin: 50px auto;
        align-items: center;
        text-align: center;
    
    }
    .card-section-2{
        margin: 20px 20px;
    }
    .section-3{
        padding: 30px 0;
    }
    .section-3 img{
        width: 40%;
    }
    .input-form{
        width: 60%;
        padding: 25px 25px;
    }
    .btn-form{
        padding: 25px 25px;
        width: 65%;
    }
}

@media screen and (min-width: 1201px){
    .section-1{
        display: flex;
        align-items: center;
        justify-items: center;
        width: 90%;
    }
}